<p id="notice"><%= notice %></p>

<p>
	<%= video_tag @video.video.url, :size => "640x480", :controls => true, :autobuffer => true, :preload => "none" %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
	<%= link_to 'Edit', edit_video_path(@video) %> |
	<%= link_to 'Back', videos_path %>
</p>

<h2>Comments</h2>

<% @video.comments.each do |comment| %>
	<p>
		<i><%= comment.author %> said: </i><br/>		
		<%=comment.body %>
	</p>
<% end %>

<h2>Add Comment:</h2>
<%= form_for ([@video,@video.comments.build]) do |f| %>
  
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
