<p>
	<%= video_tag @video.video.url, :size => "640x480", :controls => true, :autobuffer => true, :preload => "none" %>
</p>

<h4>
  <strong>Title:</strong>
  <%= @video.title %>
</h4>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
	<%= link_to 'Back', videos_path %>
</p>

<h2>Comments:</h2>

<% @video.comments.each do |comment| %>
	<p>
		<i><%= comment.author %> said: </i><br/>		
		<%=comment.body %>
	</p>
<% end %>

<h2>Add Comment:</h2>
<%= form_for ([@video,@video.comments.build]) do |f| %>
  <% if user_signed_in? %>	
	 <div class="field">
  	 <%= f.hidden_field :author, value: current_user.username %>
  	</div>
  <% end %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>